menu "Application WiFi"
    choice APP_WIFI_PROV_MODE
        prompt "WiFi provisioning mode"
        default APP_WIFI_PROV_TYPE_BLE

        config APP_WIFI_PROV_TYPE_BLE
            bool "Bluetooth"
        config APP_WIFI_PROV_TYPE_SOFT_AP
            bool "WiFi SoftAP"
    endchoice

    config APP_WIFI_PROV_TIMEOUT_S
        int "Wi-Fi provisioning timeout"
        default 120
        help
            Timeout, after which is Wi-Fi provisioning stopped and device
            continues in normal mode of operation (connected or not).
endmenu
