CONFIG_APP_WIFI_PROV_MODE           CONFIG_AUTO_WIFI_PROV_MODE
CONFIG_APP_WIFI_PROV_TYPE_BLE       CONFIG_AUTO_WIFI_PROV_TYPE_BLE
CONFIG_APP_WIFI_PROV_TYPE_SOFT_AP   CONFIG_AUTO_WIFI_PROV_TYPE_SOFT_AP
CONFIG_APP_WIFI_PROV_TIMEOUT_S      CONFIG_AUTO_WIFI_PROV_TIMEOUT_S
CONFIG_APP_WIFI_PROV_TRANSPORT      CONFIG_AUTO_WIFI_PROV_TRANSPORT
CONFIG_APP_WIFI_QRCODE_URL          CONFIG_AUTO_WIFI_PROV_QRCODE_URL
