CONFIG_APP_WIFI_PROV_MODE           CONFIG_WIFI_AUTO_PROV_MODE
CONFIG_APP_WIFI_PROV_TYPE_BLE       CONFIG_WIFI_AUTO_PROV_TYPE_BLE
CONFIG_APP_WIFI_PROV_TYPE_SOFT_AP   CONFIG_WIFI_AUTO_PROV_TYPE_SOFT_AP
CONFIG_APP_WIFI_PROV_TIMEOUT_S      CONFIG_WIFI_AUTO_PROV_TIMEOUT_S
CONFIG_APP_WIFI_PROV_TRANSPORT      CONFIG_WIFI_AUTO_PROV_TRANSPORT
CONFIG_APP_WIFI_QRCODE_URL          CONFIG_WIFI_AUTO_PROV_QRCODE_URL

CONFIG_AUTO_WIFI_PROV_MODE          CONFIG_WIFI_AUTO_PROV_MODE
CONFIG_AUTO_WIFI_PROV_TYPE_BLE      CONFIG_WIFI_AUTO_PROV_TYPE_BLE
CONFIG_AUTO_WIFI_PROV_TYPE_SOFT_AP  CONFIG_WIFI_AUTO_PROV_TYPE_SOFT_AP
CONFIG_AUTO_WIFI_PROV_TIMEOUT_S     CONFIG_WIFI_AUTO_PROV_TIMEOUT_S
CONFIG_AUTO_WIFI_PROV_TRANSPORT     CONFIG_WIFI_AUTO_PROV_TRANSPORT
CONFIG_AUTO_WIFI_PROV_QRCODE_URL    CONFIG_WIFI_AUTO_PROV_QRCODE_URL
